.chefBannerContainer {
    position: relative;
    z-index: 1;
}

.chefBannerContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.chefBannerDetails {
    margin: 30px 90px;
    position: relative;
    z-index: 3;
}

.chefImg {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

@media only screen and (max-width: 767px) {
    .chefFig {
        width: 100% !important;
    }
    .chefImg {
        height: 50% !important;
    }
    .chefH2 {
        margin-top: 55px;
    }
    .chefBannerContainer {
        height: 819px !important;
    }
    .chefBannerDetails {
        margin: auto;
        height: 767px !important;
    }
}

@media only screen and (min-width: 2000px) {
    .chefBannerDetails {
        margin-inline: 350px !important;
    }
    .chefFig {
        width: 500px !important;
    }
}